.invisible{
    display:none;
}

.visible{
    display: block;
}

.marginTop{
  margin-top: 128px;
}

.buttons{
  display: flex;
  gap: 12px;
}

table{
  margin-top: 24px;
}

.btn-light{
  border: 2px black solid;
}
