.banner {
  margin-top: 72px;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.breadcrumb {
  font-size: 14px;
  color: #ff6c6c;
}

.breadcrumb a {
  color: #ff0000;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.text {
  text-align: center;
  margin-top: 20px;
}

.flower-icon {
  width: 160px;
  height:160px;
  background-size: cover;
  margin: 0 auto;
}

.banner-title {
  color: orangered;
  font-size: 28px;
  margin-top: 10px;
}

.banner-description {
  color: #ff6c6c;
  font-size: 16px;
}

navbar {
  background-color: red;
}

.about {
  background-color: #fff;
  padding: 60px 0;}

  h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  img {
    width: 160px;
    height:160px;
  }
