<section class="about">
    <div class="container">
      <br><br>
      <h2>About Gerbera</h2>
      <div class="row">
        <div class="col-md-6">
          <p>Gerbera is a flower store located in the heart of the city.<br>
            <br>We pride ourselves on providing the highest quality flowers and customer service to our community.</p>
          <p>Our team of expert florists handcrafts every arrangement with care and attention to detail. We offer a wide variety of fresh flowers, unique plants, and thoughtful gifts for any occasion.</p>
        </div>
        <div class="col-md-6">
          <img src="../../assets/icons/flower.png" alt="Gerbera flower arrangement">
        </div>
      </div>
    </div>
  </section>


