<div class="filters">


    <div class="row py-3">

        <div class="filterFlex  pb-4">
            <img src="../../assets/icons/filter.png" alt="" class="filterIcon">
            <h4>Filter</h4>

        </div>

        <div class="hide">
        <div class="flexFilter filterTitle">
        <h6 class="py-3">Flower Type</h6>
         </div>
        <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Single Gerberas
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Double Gerberas
            </label>
          </div>

          <div class="flexFilter filterTitle">
            <h6 class="py-3">Occasion</h6>
             </div>
        <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Birthday
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Wedding
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Prom
            </label>
          </div>
          <div class="pt-3 type"></div>
</div>
